.profile-education {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.profile-educationWrapper {
  padding: 10px;
}

.profile-educationTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-educationTopLeft {
  display: flex;
  align-items: center;
}

.profile-educationProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-educationEditImg {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.profile-educationUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.profile-educationCenter {
  margin: 20px 0;
}

.profile-educationImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.profile-educationBottomLeft {
  display: flex;
  align-items: center;
}
