.profile-profile {
  display: flex;
  padding-top: 100px;
}

.profile-profileRight {
  flex: 9;
}

.profile-profileCover {
  height: 320px;
  position: relative;
}

.profile-profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.profile-profileCoverImg-nft {
  width: 20%;
  height: 150px;
  object-fit: cover;
  margin-left: 5%;
}

.profile-profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
}

.profile-profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-profileInfoName {
  font-size: 24px;
  color: #134e6f;
  font-weight: 700;
}

.profile-profileInfoDesc {
  font-weight: 300;
}

.profile-profileRightBottom {
  display: flex;
}
/* ///////////////////////////// */
.userprofile-main-div {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 3%;
  /* max-width: 80%; */
  margin: 0 auto;
  padding: 50px;
  /* border: 1px solid black; */
}
.profile-rightbar-main-box {
  width: 40%;
  height: 40vh;
  margin: 20px;
}
.profile-leftbar-main {
  width: 60%;
  margin: 20px;
}
.profile-rightbar-main-box {
  border-radius: 20px;
  box-shadow: 0px 0px 6px 5px #eff0ee;

  display: flex;
  height: 30vh;
  padding: 20px;
  flex-direction: column;
}
.experience-main-box {
  border-radius: 20px;
  box-shadow: 0px 0px 6px 5px #eff0ee;
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.education-main-box {
  border-radius: 20px;
  box-shadow: 0px 0px 6px 5px #eff0ee;
  display: flex;
  margin-top: 3%;
  padding: 20px;
  flex-direction: column;
}
.skill-main-box {
  border-radius: 20px;
  margin-top: 3%;
  padding: 20px;
  box-shadow: 0px 0px 6px 5px #eff0ee;
}
.profile-rightbar-main-nft {
  display: flex;
}
.usernft-main {
  border-radius: 20px;
  margin-top: 3%;
  box-shadow: 0px 0px 6px 5px #eff0ee;
  padding: 20px;
}
.profile-leftbar-experience {
  font-size: x-large;
  font-weight: 700;
  margin-left: 10px;
  font-family: "Montserrat";
  margin-bottom: 10px;
  color: #134e6f;
}
.bold-text-experience {
  font-weight: 600;
}
.profile-rightbar-des {
  display: flex;
  text-align: justify;
}
.profile-rightbar-address {
  margin-left: 10px;
}
.exp-logo {
  display: flex;
}
.profile-educationProfileImg {
  width: 30px;
  height: 30px;
}
.profile-leftbar-main-box {
  margin-left: 40px;
}
.profile-rightbar-location {
  margin-left: 5px;
}
.profile-leftbar-skill01 {
  margin: 7px;
}
.profile-leftbar-skill {
  display: flex;
  flex-direction: column;
}
