.profile-rightbar {
  flex: 4;
}

.profile-rightbar-main {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  padding: 10px;
}

.profile-rightbarWrapper {
  padding: 10px 20px 0 0;
}

.profile-rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.profile-rightbarTitle {
  margin-bottom: 29px;
  margin-top: 10px;
  font-size: x-large;
  font-weight: bolder;
}

.profile-rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.profile-rightbarInfo {
  margin-bottom: 30px;
}

.profile-rightbarInfoItem {
  margin-bottom: 10px;
}

.profile-rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.profile-rightbarInfoValue {
  font-weight: 300;
}

.profile-rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.profile-rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
