.cr-main-content{
    height: 100%;
    width: 100%;
  
    margin: 0 auto;
    padding: 20px;
  } 
  .cr-title{
    display: flex;
    justify-content: space-around;
    color: black;
    margin-top: 2%;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2%;
  }
  .cr-main{
    border-radius: 20px;
    box-shadow: 0px 0px 6px 5px #eff0ee;
    padding-bottom: 10px;
   
    padding-left: 30px;
    margin: auto;
     width: 70%;
   
  }
  .cr-main-content{
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .cr-name{
    margin : 10px;
    font-weight: bold;
    font-size: 24px;
  }
  .cr-head{
    font-weight: bold;
  }
.cr-row{
    display: flex;
    /* padding: 0 10px; */
    flex-direction: row;
}
.cr-btn-main{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    padding: 0 18px;
}
.arreow-buttton{
  margin: 0 30px 0 400px;
}
.cr-name-tag{
  font-weight: bold
}
.tag-button{
  height:30px;
}

@media only screen and (max-width: 1024px) {

  .arreow-buttton{
    margin :0;
  }
  
}