.invticandidate-header {
  height: 100%;
  width: 100%;
  max-width: fit-content;
  padding: 50px;
  margin: 0 auto;
  margin-top: 50px;
  /* border: 1px solid black; */
}

.uploadfile-icon {
  width: 50px;
  height: 100px;
  display: flex;
}
.invitecandidate-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 15px;
}
.uploadfile-icon {
  margin-left: 45%;
}
.invitecandidate-information {
  margin-top: 10px;
  margin-left: 10%;
  width: 55%;
  /* display: flex;
  flex-direction: row; */
}
/* .invitecandidate-file {
  margin-top: 100%;
} */
.invitecandidate-fileupload {
  margin-left: 30%;
}
.invitecandidate-user-icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}
.candidate-username {
  margin-left: 5px;
  padding: 10px;
}
.invitecandidate-years-qualification {
  display: flex;
  margin-left: 43px;
}
.candidate-qualification {
  margin-left: 5em;
}
.candidate-description {
  margin-left: 3em;
  text-align: justify;
  margin-top: 5%;
}
.candidate-qualification {
  display: inline-flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: -20px;
}
.invitecandidate-button {
  display: flex;
  /* margin-left: 20em; */
}
.invitecandidate-main-form {
  /* background-color: aliceblue; */
  padding-bottom: 15px;
  padding-top: 5px;
  /* padding-left: 30px; */
  margin-top: 30px;
}
.candidate-year-name {
  margin-left: 5px;
  font-weight: 700;
}
.candidate-year-no {
  margin-left: 5px;
}
/* .qualification-main {
  margin-left: 5px;
  justify-content: center;
  align-items: center;
} */
.candidate-year {
  display: flex;
}
.qualification-name {
  font-weight: 700;
  margin-left: 18em;
}
.qualification-bech {
  margin-left: 5px;
}
.invitecandidate-main-button {
  display: flex;
  margin-left: 10em;
}
.invitecandidate-page-content {
  background-color: aliceblue;
}
.invitecandidate-button-published {
  margin-left: 25em;
  padding: 15px;
}
.candidate-button-published {
  padding: 15px 30px 15px 30px;
}
/* .candidate-invite-button {
  margin-top: 10px;
} */
