.jobapplicant-main-form {
  height: 100%;
  width: 100%;
  max-width: fit-content;
  padding: 50px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 5%;
}
.jobapplicant-username {
  margin-left: 5px;
  padding: 10px;
}
.jobapplicant-user-icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}
.jobapplicant-years-qualification {
  display: flex;
  margin-left: 43px;
}
.jobapplicant-qualification {
  display: inline-flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: -20px;
  /* margin-left: 5em; */
}
.jobapplicant-year {
  display: flex;
}
.jobapplicant-year-name {
  margin-left: 5px;
  font-weight: 700;
}
.jobapplicant-year-no {
  margin-left: 5px;
}
.jobapplicant-name {
  font-weight: 700;
  margin-left: 18em;
}
.jobapplicant-bech {
  margin-left: 5px;
}
.jobapplicant-description {
  margin-left: 3em;
  text-align: justify;
  margin-top: 5%;
}
.jobapplicant-information {
  margin-top: 10px;
  /* margin-left: 10%; */
  width: 55%;
  margin-bottom: 40px;
}
.jobapplicant-main-button {
  display: flex;
  margin-left: 8em;
}
.jobapplicant-headername {
  margin-left: 10%;
  margin-top: 5%;
}
.jobapplicant-main-form {
  background-color: aliceblue;
  padding-bottom: 15px;
  padding-top: 5px;
  /* padding-left: 30px; */
  margin-top: 30px;
}
.jobapplicant-invite-button2 {
  margin-left: 20px;
  margin-top: 10px;
}
.jobapplicant-invite-button1 {
  margin-top: 10px;
}

.myjobpost-information-header {
  display: flex;
  align-items: center;
  margin-top: 5%;
  /* margin-left: 32%; */
}
.jobapplicant-title1 {
  margin-left: 10%;
  font-weight: 700;
}
.jobapplicant-title2 {
  margin-left: 20%;
}
.jobapplicant-approved-button01 {
  margin-top: 10px;
  margin-left: 100px;
  /* padding-left: 20px;
  padding-right: 20px; */
}
@media only screen and (max-width: 768px) {
  .jobapplicant-main-form {
    height: 100%;
    width: 100%;
    max-width: fit-content;
    padding: 50px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 5%;
  }
  .jobapplicant-username {
    margin-left: 5px;
    padding: 10px;
  }
  .jobapplicant-user-icon {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
  }
  .jobapplicant-years-qualification {
    display: flex;
    margin-left: 43px;
  }
  .jobapplicant-qualification {
    display: inline-flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: -20px;
    /* margin-left: 5em; */
  }
  .jobapplicant-year {
    display: flex;
  }
  .jobapplicant-year-name {
    margin-left: 5px;
    font-weight: 700;
  }
  .jobapplicant-year-no {
    margin-left: 5px;
  }
  .jobapplicant-name {
    font-weight: 700;
    margin-left: 18em;
  }
  .jobapplicant-bech {
    margin-left: 5px;
  }
  .jobapplicant-description {
    margin-left: 3em;
    text-align: justify;
    margin-top: 5%;
  }
  .jobapplicant-information {
    margin-top: 10px;
    /* margin-left: 10%; */
    width: 100%;
    margin-bottom: 40px;
  }
  .jobapplicant-main-button {
    display: flex;
    margin-left: 8em;
  }
  .jobapplicant-headername {
    margin-left: 10%;
    margin-top: 5%;
  }
  .jobapplicant-main-form {
    background-color: aliceblue;
    padding-bottom: 15px;
    padding-top: 5px;
    padding-left: 20px;
    margin-top: 30px;
    padding-right: 20px;
  }
  .jobapplicant-invite-button2 {
    margin-left: 20px;
    margin-top: 10px;
  }
  .jobapplicant-invite-button1 {
    margin-top: 10px;
  }

  .myjobpost-information-header {
    display: block;
    align-items: center;
    margin-top: 5%;
    /* margin-left: 32%; */
  }
  .jobapplicant-title1 {
    margin-left: 40px;
    font-weight: 700;
  }
  .jobapplicant-title2 {
    margin-left: 60px;
    font-size: 25px;
  }
  .jobapplicant-approved-button01 {
    margin-top: 10px;
    margin-left: 100px;
    /* padding-left: 20px;
    padding-right: 20px; */
  }
}
