@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.Content
{
    max-width: 786px;
    margin:0 auto;
    background-color: #FAFFFD;
}
.parent-content
{
    background-color: #FAFFFD;
}
.Headingassesment
{
    text-align: left;
}
.font-primary
{
    font-family: 'Lato';
    font-size: 2rem;
}
.font-secondary
{
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}
.heder
{
    width: 160px;
    text-align:center;
    border: 1px #000 solid;
}
.cont{
    width: 160px;
    text-align:center;
    font-family: 'Roboto Mono', monospace;
    
}
.output-table
{
    margin: 0 auto;
}

