.popup-box {
  /* background: rgba(255, 255, 255, 0.3); */
  width: 82%;
  height: 200vh;
  top: 0;
  /* background-color: #f5f5f5; */
  left: 0;
  position: absolute;
  margin: 0 auto;
  /* margin-left: 15%; */
}

.box {
  /* position: absolute; */
  margin-top: calc(105vh - 98.5vh - 20px);
  background: ghostwhite;
  /* border-radius: 4px; */
  padding: 20px;
  /* height: 100vh; */
  width: 70%;
  overflow-y: hidden;
  margin-left: 25%;

  /* overflow: scroll; */
}

.close-icon {
  content: "x";
  cursor: pointer;
  /* position: fixed; */
  right: calc(88.5% - 21.1%);
  top: calc(115vh - 89vh - 33px);
  /* background: #ededed; */
  /* width: 35px;
  height: 30px; */
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  /* border: 1px solid #999; */
  font-size: 20px;
  color: black;
}
