.login-main {
  margin: 0 auto;
}

.login-inside {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #eff0ee;
  background-size: cover;
}

.wrap-email {
  min-height: 60vh;
  width: 70%;
  max-width: 968px;
  background: #eff0ee;
  border-radius: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  -webkit-box-shadow: 3px 3px 10px 10px #ddd;
  -moz-box-shadow: 3px 3px 10px 10px #ddd;
  box-shadow: 3px 3px 10px 10px #ddd;
  /* border-right: 2px solid #e5e7eb; */
}

img.signup_image {
  max-height: 90%;
}
.email-pic {
  min-height: 100%;
  width: 50%;
  margin: auto;
  /* will-change: transform;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg); */
}
.email-pic img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  margin: auto;
}
.email-form {
  width: 40%;
  margin: auto;
}
.email-form-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 20px;
}
h2.email-wallet-name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.validate-input {
  position: relative;
}

.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 40px;
}
input {
  outline: none;
  border: none;
}
option {
  background: #eff0ee;
}
option:focus {
  background-color: #134e6f;
}
/* option.role-options {
  background-color: #134e6f;
  color: #eff0ee;
}
option.role-options:hover {
  background-color: #eff0ee !important;
  color: #134e6f;
} */
.input {
  font-family: Poppins-Medium;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #134e6f;
  display: block;
  width: 100%;
  background: #eff0ee;
  height: 50px;
  border-radius: 25px;
  padding: 0 2rem;
  margin: 1rem 0;
  -webkit-box-shadow: 3px 3px 10px 10px #ddd;
  -moz-box-shadow: 3px 3px 10px 10px #ddd;
  box-shadow: 3px 3px 10px 10px #ddd;
}
.focus-input {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0 0;
  color: rgba(87, 184, 70, 0.8);
}

.btn-container {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
  margin: 0 auto;
}
button.email-verify-button {
  font-weight: 700;
  font-size: 1.2rem;
  /* line-height: 1.5; */
  color: #fff;
  /* text-transform: uppercase; */
  /* width: 100%; */
  /* height: 2.5rem; */
  border-radius: 25px;
  border: 2px solid #ff6150;

  /* margin: 0.2rem 0; */
  cursor: pointer;
  background: #ff6150;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
button.email-verify-button:hover {
  content: "";
  background-color: #eff0ee;
  border: 2px solid #ff6150;
  color: #ff6150;
  scale: 1.05;
}

select.role-select {
  border: 1px solid black;
  /* border: 1px solid black; */
  appearance: none;
  border: 0;
  outline: 0;
  width: 100%;
  font-weight: 600;
  padding: 0 1rem;
  height: 2.5rem;
  border-radius: 5px;
  background: url("../assets/images/down_arrow.svg") no-repeat right 0.8em
      center / 1em,
    #eff0ee;
  cursor: pointer;
  color: #134e6f;
  -webkit-box-shadow: 3px 3px 10px 10px #ddd;
  -moz-box-shadow: 3px 3px 10px 10px #ddd;
  box-shadow: 3px 3px 10px 10px #ddd;
}
select.role-select:focus {
  outline: none;
}
select.role-select::-ms-expand {
  display: none;
}

.wrap-role {
  min-height: 70vh;
  min-width: 60vw;
  max-width: 70vw;
  background: #eff0ee;
  border-radius: 30px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  -webkit-box-shadow: 3px 3px 10px 10px #ddd;
  -moz-box-shadow: 3px 3px 10px 10px #ddd;
  box-shadow: 3px 3px 10px 10px #ddd;
}
.role-guide {
  border-right: 2px solid #d3d3d3;
}
button.table-button {
  font-size: 1.1rem;
  font-weight: 600;
  display: block;
  background-color: #eff0ee;
  border: 1px solid #134e6f;
  color: #134e6f;
  margin: 10px auto;

  cursor: pointer;
  padding: 1rem 1.2rem;
  border-radius: 5px;
}
button.table-button:hover {
  background-color: #134e6f;
  border: 1px solid #134e6f;
  color: #eff0ee;
}
.role-item {
  margin: 20px 0;
}

h1.role-title-h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
h2.role-title-h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 10px;
}
p.role-p {
  margin-top: 20px;
  padding-right: 10px;
}
.role-item-inside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
svg.button-spin-svg {
  width: 32px;
  height: 80%;
  fill: #fff;
}
svg.role-svg {
  width: 32px;
  height: 80%;
  fill: #134e6f;
}
svg.button-spin-svg-pic {
  width: 32px;
  height: 80%;
  fill: #ff6150;
}
button.email-verify-button:hover svg.button-spin-svg {
  fill: #ff6150;
}
.f-after-input-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
span.f-after-input {
  font-size: 12px;
  /* height: 1rem; */
}

@media (max-width: 768px) {
  .wrap-email {
    align-items: center;
    padding: 1rem;
    width: 90%;
  }

  .wrap-role {
    align-items: center;
    padding: 1rem;
  }
  .email-pic {
    margin: auto;
    width: 50%;
    padding-bottom: 2rem;
    border: none;
  }
  .email-form-title {
    padding-bottom: 2rem;
  }
  .email-form {
    width: 100%;
  }
}
