.candidate-test-header {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 50px;
  font-weight: bold;
  font-family: "Montserrat";
}

.candidate-test-name {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px;
}

.candidate-test-outer {
  border-radius: 10px;
  margin: 0 auto;
  /* background: #eff0ee; */
  box-shadow: 0px 0px 6px 5px #eff0ee;
  height: 50%;
  width: auto;
  max-width: 60%;
  padding-bottom: 5%;
  text-align: center;
  font-family: "OpenSans";
  margin-top: 5vh;
}

.candidate-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
  font-family: "OpenSans";
  align-items: center;
}

.candidate-test-info {
  font-size: large;
}

.candidate-all-info {
  margin: 18px;
}

.candidate-result-info {
  margin: 18px;
}

.candidate-test-nft {
  border-radius: 5%;
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 0 auto;
}
/* .test-result-main-content {
  margin-top: 5%;
} */
.profile-name-merge-div {
  display: flex;
  align-items: center;
  margin-left: 8%;
}
.candidate-more-logo-test-result {
  width: 5%;
}
.candidate-test-name {
  padding-left: 10px;
}
