<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/static/image/DEHITAS LOGO-01.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dehitas - User verification</title>
</head>

<body class="bg-gray-200 text-[#134E6F]">
    <div class="w-100 border-1 m-auto px-6 text-center">
        <img class="text-center" src="/static/image/DEHITAS LOGO-04.png" height="40" width="150" />
    </div>
    <div class="border-2 w-1/2 m-auto p-10 rounded-md bg-[#FF6150]	">
        <div class="divide-x divide-teal-400 w-100 m-auto rounded-md">
            <strong class="text-xl text-left"><span>Ohh Snap!!!</span> The Email id you have provided is not verified.</strong>
        </div>
        <div class="w-100 h-auto m-auto rounded-md mt-1">
            <p></p>
        </div>
    </div>
</body>

</html>