<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/static/image/DEHITAS LOGO-01.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dehitas - User verification</title>
</head>

<body class="bg-gray-200 text-[#134E6F]	">
    <div class="w-100 border-1 m-auto px-6 text-center">
        <img class="text-center" src="/static/image/DEHITAS LOGO-04.png" height="40" width="150" />
    </div>
    <div class="border-2 w-1/2 m-auto p-5 rounded-md bg-cyan-300">
        <div class="divide-x divide-teal-400 w-100 m-auto rounded-md">
            <strong class="text-xl text-left">Email id verified successfully.</strong>
        </div>
        <div class="w-100 h-auto m-auto rounded-md mt-1">
            <p>Please ensure connecting to the Web3 wallet before clicking on the next button.</p>
            <div class="w-100 text-right py-2">
                <button class="bg-[#282133] px-2 py-2 text-xl text-[#EFF0EE] rounded-md right-0.5" onclick="location.href='http://localhost:3000/'">Back to Home</button>
            </div>
        </div>
    </div>
</body>

</html>