.candidate-companylist-main {
  display: flex;
  justify-content: space-around;
  color: black;
  /* margin-top: 5%; */
  padding-top: 150px;
}

.candidatelist-description-section2 {
  /* margin-top: 5%; */
  text-align: justify;
  width: 100%;
  margin-bottom: 1vh;
}
.jobapplication-qualification {
  display: inline-flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -20px;
}
.candidatelist-main-button {
  display: flex;
  margin-left: 15em;
  margin-top: 2%;
}
.candidatelist-button {
  margin-left: 35vw;
}
.jobapplication-qualification-main {
  margin-left: 20em;
  font-weight: 600;
}
.companyname-application {
  font-weight: 600;
}
.myjobpost-main-content-application {
  height: 100%;
  width: 100%;

  margin: 0 auto;
  margin-top: 50px;
  max-width: 1024px;
  /* padding: 50px; */
}

span.live-button {
  cursor: pointer;
  background-color: green;
  color: white;
  animation: fadeIn 1s linear infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
