.connect-btn {
  width: 100%;
  text-align: center;
}

.con-btn {
  text-align: center;
  margin: 0 auto;
}

.wallet-btn-outer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.wallet-btn {
  /* margin-top: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: transparent;
 
  */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background-color: transparent;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  border: none;
  margin: 10px 0;
}

.wallet-btn:hover {
  background-color: #eff0ee;
  border-radius: 10px;
}

.wallet-btn-logo {
  margin-bottom: 20px;
  height: 50px;
  width: 50px;
}

.wallet-error-msg {
  color: red;
  margin: auto;
  /* text-align: center; */
  font-size: large;
  font-weight: bold;
}
